$mobile-portrait-xs: 320px;
$mobile-landscape-xs: 568px;
$mobile-portrait-sm: 375px;
$mobile-landscape-sm: 667px;
$mobile-portrait-lg: 414px;
$mobile-landscape-lg: 736px;
$tablet-sm: 768px;
$tablet-lg: 1024px;
$desktop-sm: 1280px;
$desktop-md: 1400px;
$desktop-lg: 1600px;